In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df_train = pd.read_csv('../../../datasets/cc_train.csv')
df_test = pd.read_csv('../../../datasets/cc_test.csv')

In [3]:
df_train.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,GENDER,QUALIFICATION,MARRIED,defaulter,Id
0,290000.0,50,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,NaN,199.0,...,1440.0,1017.0,3798.0,4898,5034.0,FEMALE,2,1.0,0,1
1,20000.0,49,0.0,0.0,0.0,0.0,NaN,0.0,19773.0,18459.0,...,1270.0,633.0,655.0,759,547.0,FEMALE,2,3.0,1,2
2,230000.0,28,0.0,0.0,0.0,0.0,0.0,0.0,20356.0,21504.0,...,1700.0,2007.0,1000.0,1000,1000.0,FEMALE,1,2.0,0,3
3,210000.0,31,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,8600.0,0.0,...,4231.0,4221.0,4221.0,4483,4300.0,FEMALE,1,1.0,0,4
4,300000.0,24,-2.0,-2.0,-2.0,-2.0,-1.0,-1.0,-158.0,-158.0,...,0.0,0.0,300.0,100,100.0,MALE,2,2.0,0,5

In [4]:
df_test.head()

,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,GENDER,QUALIFICATION,MARRIED,Id
0,350000.0,31,-2.0,-2.0,-2.0,-2.0,-2.0,-2.0,951.0,601.0,...,605.0,716.0,263.0,900.0,1271,NaN,FEMALE,1,2.0,20001
1,10000.0,27,0.0,0.0,0.0,0.0,0.0,0.0,8907.0,6599.0,...,1500.0,1400.0,1000.0,1009.0,1000,1598.0,MALE,1,2.0,20002
2,350000.0,34,0.0,0.0,0.0,0.0,0.0,0.0,92134.0,120340.0,...,30000.0,NaN,5000.0,NaN,4000,5000.0,MALE,1,2.0,20003
3,20000.0,40,-1.0,-1.0,-1.0,-2.0,-1.0,-1.0,1925.0,500.0,...,500.0,0.0,0.0,6360.0,11220,0.0,FEMALE,1,1.0,20004
4,210000.0,39,1.0,-1.0,NaN,-1.0,-1.0,-1.0,0.0,650.0,...,650.0,325.0,325.0,325.0,325,325.0,MALE,2,1.0,20005

In [5]:
df_train.isna().sum()

LIMIT_BAL        1300
AGE                 0
PAY_0             656
PAY_2            1859
PAY_3            1249
PAY_4             684
PAY_5             677
PAY_6            1345
BILL_AMT1        1870
BILL_AMT2        1319
BILL_AMT3         677
BILL_AMT4           0
BILL_AMT5         682
BILL_AMT6           0
PAY_AMT1         1310
PAY_AMT2         1237
PAY_AMT3         1309
PAY_AMT4          682
PAY_AMT5            0
PAY_AMT6          688
GENDER              0
QUALIFICATION       0
MARRIED          1326
defaulter           0
Id                  0
dtype: int64

In [6]:
df_test.isna().sum()

LIMIT_BAL        320
AGE                0
PAY_0            164
PAY_2            465
PAY_3            328
PAY_4            169
PAY_5            171
PAY_6            299
BILL_AMT1        465
BILL_AMT2        318
BILL_AMT3        174
BILL_AMT4          0
BILL_AMT5        161
BILL_AMT6          0
PAY_AMT1         349
PAY_AMT2         302
PAY_AMT3         368
PAY_AMT4         161
PAY_AMT5           0
PAY_AMT6         192
GENDER             0
QUALIFICATION      0
MARRIED          321
Id                 0
dtype: int64

In [7]:
df_train.dtypes

LIMIT_BAL        float64
AGE                int64
PAY_0            float64
PAY_2            float64
PAY_3            float64
PAY_4            float64
PAY_5            float64
PAY_6            float64
BILL_AMT1        float64
BILL_AMT2        float64
BILL_AMT3        float64
BILL_AMT4          int64
BILL_AMT5        float64
BILL_AMT6          int64
PAY_AMT1         float64
PAY_AMT2         float64
PAY_AMT3         float64
PAY_AMT4         float64
PAY_AMT5           int64
PAY_AMT6         float64
GENDER            object
QUALIFICATION      int64
MARRIED          float64
defaulter          int64
Id                 int64
dtype: object

In [8]:
df_test.dtypes

LIMIT_BAL        float64
AGE                int64
PAY_0            float64
PAY_2            float64
PAY_3            float64
PAY_4            float64
PAY_5            float64
PAY_6            float64
BILL_AMT1        float64
BILL_AMT2        float64
BILL_AMT3        float64
BILL_AMT4          int64
BILL_AMT5        float64
BILL_AMT6          int64
PAY_AMT1         float64
PAY_AMT2         float64
PAY_AMT3         float64
PAY_AMT4         float64
PAY_AMT5           int64
PAY_AMT6         float64
GENDER            object
QUALIFICATION      int64
MARRIED          float64
Id                 int64
dtype: object

In [9]:
col_num = list(df_train.select_dtypes(exclude='object').columns)

col_num.remove('defaulter')
col_num.remove('Id')

col_num

['LIMIT_BAL',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'QUALIFICATION',
 'MARRIED']

In [10]:
col_cat = list(df_train.select_dtypes(include='object').columns)

col_cat

['GENDER']

In [12]:
# Imputation/Filling Missing Data

In [11]:
from sklearn.impute import SimpleImputer

In [13]:
#For numeric data
imputer_num = SimpleImputer(strategy='median')

imputer_num.fit(df_train[col_num])

df_train[col_num] = imputer_num.transform(df_train[col_num])
df_test[col_num] = imputer_num.transform(df_test[col_num])


#For categorical data
imputer_cat = SimpleImputer(strategy='most_frequent')

imputer_cat.fit(df_train[col_cat])

df_train[col_cat] = imputer_cat.transform(df_train[col_cat])
df_test[col_cat] = imputer_cat.transform(df_test[col_cat])

In [14]:
# Encoding

In [15]:
df_train.GENDER = df_train.GENDER.map({'FEMALE':0,'MALE':1})
df_test.GENDER = df_test.GENDER.map({'FEMALE':0,'MALE':1})

In [16]:
# Scaling

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
scaler = MinMaxScaler()

scaler.fit(df_train[col_num])

df_train[col_num] = scaler.transform(df_train[col_num])
df_test[col_num] = scaler.transform(df_test[col_num])

In [19]:
# Correlation/Feature Selection

In [20]:
df_train.corr()['defaulter']

LIMIT_BAL       -0.149337
AGE              0.006791
PAY_0            0.314841
PAY_2            0.249062
PAY_3            0.226227
PAY_4            0.210773
PAY_5            0.198678
PAY_6            0.176205
BILL_AMT1       -0.022614
BILL_AMT2       -0.025681
BILL_AMT3       -0.022111
BILL_AMT4       -0.020788
BILL_AMT5       -0.019810
BILL_AMT6       -0.018142
PAY_AMT1        -0.074820
PAY_AMT2        -0.058242
PAY_AMT3        -0.053582
PAY_AMT4        -0.060916
PAY_AMT5        -0.055519
PAY_AMT6        -0.056593
GENDER           0.043314
QUALIFICATION    0.030473
MARRIED         -0.023839
defaulter        1.000000
Id               0.006318
Name: defaulter, dtype: float64

In [21]:
list(df_train.corr()['defaulter'][(df_train.corr()['defaulter']>=0.03)|(df_train.corr()['defaulter']<=-0.03)].index)

['LIMIT_BAL',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'GENDER',
 'QUALIFICATION',
 'defaulter']

In [22]:
# Removing less correalated columns

In [23]:
col_num.remove('AGE')
col_num.remove('BILL_AMT1')
col_num.remove('BILL_AMT2')
col_num.remove('BILL_AMT3')
col_num.remove('BILL_AMT4')
col_num.remove('BILL_AMT5')
col_num.remove('BILL_AMT6')
col_num.remove('MARRIED')

In [24]:
col_final = col_num+col_cat

In [25]:
col_final

['LIMIT_BAL',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'QUALIFICATION',
 'GENDER']

In [26]:
# Model Building

In [27]:
from sklearn.svm import SVC

In [28]:
model_poly= SVC(kernel='poly',gamma=0.2,C=0.2)
model_poly.fit(df_train[col_final],df_train['defaulter'])

SVC(C=0.2, gamma=0.2, kernel='poly')

In [29]:
yp = model_poly.predict(df_test[col_final])

In [30]:
df_submission = pd.DataFrame({'Id':df_test['Id'], 'defaulter':yp})
df_submission.to_csv('svm_p.csv', index=False)